body {
  background: #FCE97F;
  animation: fadeBackground 25s;
  animation-fill-mode: forwards;
}

@keyframes fadeBackground {
  from { background-color: #FFFAF0; }
  to { background-color: #DEB887; }
}

h1{
    font-weight: 700;
    font-family: "Mongolian Baiti";
    text-align: center;
    text-decoration: underline; 
    color: black;
}

img {
    width: 200px;
    height: 200px;
}

.fade-in-text {
  font-family: Mongolian Baiti;
  font-size: 150px;
  animation: fadeIn 5s;
}

